<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@player_1_name%> vs <%=@player_2_name%></h1>
    <h12><%=@player_2_name%>: 60HP</h2>
  </body>
</html>
